
  .app-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  .welcome-container{
    color: rgb(120,120,120);
    text-align: center;
  }
  .spinner{
    height: 40px;
    margin: -15px;
  }