/* .btn{
  border-radius: 7px;
  border: none;
  background-color: rgb(210, 216, 222);
  padding: 10px 15px;
}
.div1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2{
  display: flex;
  align-items: center;
  justify-content: center;
} */

body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #7f8c8d;
  margin-top: 0;
}
button{
  border-radius: 7px;
  cursor: pointer;
  background-color: rgb(210, 216, 222);
  padding: 10px 15px;
}